# We can specify a default match using wildcards:
* @yujiezuo @syednaqvi @danisnguyen @bernardcheng

# Rules defined later in the file take precedence over the rules
# defined before.
# This will match all files for which the file name ends in `.js`
# *.js @js-owner

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
# /docs/ @all-docs

# This will match a `lib` directory nested anywhere in the repository
# lib/ @lib-owner