<!DOCTYPE html>
<html lang="en-CA">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#25477B" />
    <meta name="author" content="Jay Zuo">
    <title>
      <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
    <div id="real-time-map-container"></div>
</body>

</html>